
/* Your CSS Code here. */
/* Styling for main element */
main.accio#job {
	width: 150px;
	height: 150px;
	background-color: #000000;
}

/* Styling for paragraph */
.hello-accio {
	color: #ffffff;
	margin-left: 32px;
	padding: 10px;
}
